.about {
    padding: 62px 0;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    max-width: 700px;
    margin: 0 0 24px;
}

.about__description {
    line-height: 1.5;
    max-width: 700px;
    margin: 0 0 72px;
}

.about__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
    gap: 24px;
}

.about__item {
    padding: 6px 0 6px 96px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;

}
.about__item-top {
    background-image: url(../image/top.svg);
    
}

.about__item-master {
    background-image: url(../image/master.svg);
}

.about__item-garantia {
    background-image: url(../image/garantia.svg);
}

.about__item-title {
    margin: 0 0 8px;
    font-size: 22px;
    text-transform: uppercase;
}

.about__item-description {
    margin: 0;
    line-height: 1.3;
}


@media (max-width: 1024px) {
   
    .about__description {
        margin-bottom: 46px;
        max-width: 672px;
    }

    .about__list {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }

    .about__item {
        padding-top: 96px;
        background-position: top left;
        padding-left: 0;
    }


}

@media (max-width: 768px) {
    .about {
        padding: 40px 0;
    }

    .about__title {
        margin-bottom: 24px;
        font-size: 32px;
    }

    .about__description {
        margin-bottom: 32px;
    }

    .about__list {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }


    .about__item {
        padding-left: 96px;
        padding-top: 0;
        background-position: left;
    }


    .about__item-title {
        font-size: 16px;
    }

}

@media (max-width: 560px) {
    .about {
        padding: 32px 0;
    }

    .about__title {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .about__list {
        grid-template-columns: minmax(272px, 1fr);
    }

    .about__description {
        font-size: 12px;
    }

    .about__item {
        padding-left: 72px;
        min-height: 64px;
        background-size: 64px;
    }
}