.main-link {
    display: inline-block;
    border-radius: 4px;
    padding: 13px 46px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    background-color: #F6F3E3;
    color: #241D1C;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.main-link:hover {
    background-color: #EFE7BE;
}

.main-link:focus-visible {
    outline: 1px solid #FFFFFF;
}

.main-link:disabled {
    opacity: 0.4;
}

@media (max-width: 560px) {
    .container {
        padding: 0 24px;
    }
    .main-link {
        padding: 10px 24px;
        font-size: 12px;
    }
}